html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*:before,
*:after {
          box-sizing: border-box;
}

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.container{
  margin: 0 auto;
    width: 100vw;
}

.contain{
  padding-left: 15%;
  padding-right: 15%;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1, h2, h3, h4 {
  color: #648880;
}

h1 {
  font-size: 2.1em;
  line-height: 44px;
  
}
h2 {
  font-size: 1.5em;
  line-height: 44px;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}

h5 {
  color: #a9b2b9;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

.primary-header a,
footer a{
  color: #fff;
} 

.primary-header a:hover,
footer a:hover{
  color: #648880;
} 

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
  text-decoration: none;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}


.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: .5px;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 2.1em;
}
.hero p {
  font-size: 1.5em;
  font-weight: 100;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.flexed{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
}

.logo2 h1,
.logo2 h3,
.logo2 a{
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 1;
}



.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

nav{
  text-align: right;
  
}

nav a{
  margin: 0 10px;
}

nav a:last-child{
  margin-right: 0;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.flexed-2{
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 100vw;
  padding: 66px 0 44px 0;

}

.contained{
  padding-left: 15%;
  padding-right: 15%;
}

 .flexed-2 section{
   /* padding-right: 30px; */
  width: 33%;
 }

 .teaser img {
  border-radius: 5px;
  height: 200px;
  margin-bottom: 30px;
 }

 
 .row-alt {
  padding: 66px 0 44px 0;
  background: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);

 }

 .lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/* speakers */

.logo2{
  font-weight: 100;
}

.speakers-section{
  padding-top: 50px;
  background: #fff;
}

.speakers-section h1,
.speakers-section h2,
.speakers-section h3,
.speakers-section h4,
.speakers-section p{
  font-weight: 100;
}

.speakers-section section{
  margin-bottom: 30px;
}

.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding-bottom: 22px;
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-item1{
  margin-right: 30px;
  width: 75%;
}

.flex-item2{
  width: 25%;
}

.speaker-info img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}

.lead{
  padding-top: 1rem;
}

.lead h1,
.lead p{
  font-weight: 100;
}

.lead h1{
  font-size: 2.3em;
  line-height: 44px;
}

.lead p{
  font-size: 1.3em;
  line-height: 33px;
}

/* venue */

.venue{
  background: #fff;
  padding-top: 5rem;

}

.venue-theatre,
.venue-hotel{
  display: flex;
  width: 100%;
  padding-bottom: 5rem;
  /* margin-left: 5rem; */
}

.address{
  margin-right: 5rem;
  width: 25%;
}

.address-map{
  width: 75%;
}

/* register */

.register{
  background: #fff;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
}

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

.register-intro{
  width: 75%;
  margin-right: 2rem;
}

form {
  margin-bottom: 22px;
  width: 25%;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}

.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}


/* schedule */

.schedule{
  padding-top: 5rem;
  background: #fff;
}
table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}

thead {
  line-height: 44px;
}
thead th {
  color: #648880;
  font-size: 24px;
}

tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}

table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}

.schedule-offset {
  color: #a9b2b9;
}

footer{
  display: flex;
  justify-content: space-between;
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

footer small{
  font-weight: 400;
}

/* media querry */

@media only screen and (max-width: 1060px) {
  .contain{
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 930px) {
  .contain{
    padding-left: 5%;
    padding-right: 5%;
  }

  .flexed-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
}

@media only screen and (max-width: 832px) {
  body{
    font-size: 80%;
  }

  .flexed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } 

  .flexed-2{
    justify-content: center;
    align-items: center;
  }

  .flexed-2 section{
    /* padding-right: 30px; */
   width: 100%;
  }


  .teaser img {
    display: inline-block;
   }

  .tagline {
    text-align: center;
  }

  .menu{
    margin-top: -5rem;
  }

  .flex-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  .flex-item1{
    
    width: 100%;
  }
  
  .flex-item2{
    width: 100%;
  }

  .speaker-info {
    align-self: center;
    margin: 2rem;
    margin-left: -1rem;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    padding-bottom: 22px;
    text-align: center;
  }


.speaker-info img {
  border-radius: 50%;
  height: 80px;
  margin: -40px 0 22px 0;
  vertical-align: top;
}

.schedule{
  padding: 1rem;
  padding-top: 3rem;
}

.venue-theatre,
.venue-hotel{
display: flex;
width: 100%;
padding-bottom: 3rem;
flex-wrap: wrap;
justify-content: center;
align-content: center;
/* margin-left: 5rem; */
}

.address{
/* margin-right: 5rem; */
width: 100%;
}

.address-map{
width: 100%;
}

.register{
background: #fff;
padding-top: 3rem;
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
/* flex-wrap: nowrap; */
}

.register-intro{
width: 100%;
margin-bottom: 2rem;
}

form {
margin-bottom: 22px;
width: 100%;
}


}

@media only screen and (max-width: 580px){
  body{
    font-size: 70%;
  }

  .contain{
    padding-left: 3%;
    padding-right: 3%;
  }

  nav{
    padding-bottom: 1rem;

  }

  nav a{
    font-size: 10px;
  }

  .row-alt {
    padding: 30px 0 30px 0;
   }


  .btn-alt {
    border: 1px solid #fff;
    padding: 3px 15px;
  }

  
}